<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/images/icons/pudge.ico" type="image/x-icon">
    <title>{{ .Title }} </title>
</head>

<body>
    <div>
        <h1>Index</h1>
        <a href="/auth/login">login</a>
        <a href="/auth/register">register</a>
        <a href="/profile">profile</a>
    </div>
</body>

</html>